*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
header{
    text-align: center;
    font-size: 2.5rem;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cart{
    width: 400px;
    background-color: #EEE;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    margin-top: 25px;
}
.left{
    width: 30%;
}
.left img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.backbag{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    
}

.top{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 55%;
}
.item p:nth-child(2){
    color: orange;
}
.item p:nth-child(2) span{
    color: black;
    font-size: 1rem;
}
.item p {
    padding-top: .1rem;
}

.remove {
    display: inline-block;
    text-align: center;
    margin-left: 28px;
    margin-top: 5px;
    width: 40%;
    border-radius: 5px;
    border: 1px solid black;
    font-weight: bolder;
    cursor: pointer;

}

.remove:hover {
    background-color: rgba(0, 0, 0, .1);
    transition: .5s ease;
}

.counter{
    display: flex;
    gap: 12px;
    margin-left: 5px;
    border: 1px solid black;
    width: fit-content;
    padding: 8px 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.counter i{
    background-color: #E0E0E0;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
}
.shipping, .total{
    display: flex;
    justify-content: space-between;
    margin: 5px 20px;
    border-top: 1px solid black;
}
form{
    width: 340px;
    margin-top: 25px;
}

label{
    margin: 10px 0;
    display: inline-block;
}
.input{
    border: 1px solid black;
    padding: 4px 10px;
    border-radius: 4px;
}

.shipping-address{
    margin-top: 25px;
}
.input input, select{
    margin-left: 10px;
    border: none;
    outline: none;
}

.country{
    width: max-content;
}

button{
    border: none;
    padding: 15px 20px;
    background-color: orange;
    color: white;
    border-radius: 5px;
}

.submit{
    text-align: center;
    position: relative;
}


@media (min-width: 750px){
    main{
        flex-direction: row-reverse;
        align-items: flex-start;
        gap: 25px;
    }

    button{
        position: absolute;
        top: 0;
        right: 0;
        transform: translateY(-20%);
    }

    .double{
        display: flex;
        gap: 10px;
    }

    .double input:nth-child(2){
        width: 155px;
        padding-left: 5px;
    }

    .input input, select{
        margin-left: 5px;
    }
}